:focus {
    outline:none
}

body {
    font:16px/21px "Lucida Sans","Lucida Grande","Lucida Sans Unicode",sans-serif
}

.change_status h2,.change_status label {
    font-family:Georgia,Times,"Times New Roman",serif
}

.form_hint,.required_notification {
    font-size:12px
}

.change_status ul {
    width:600px;
    list-style-type:none;
    list-style-position:outside;
    margin:0;
    padding:0
}

.change_status li {
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative
}

.change_status li:first-child,.change_status li:last-child {
    border-bottom:1px solid #777
}

.change_status h2 {
    margin:0;
    display:inline
}

.required_notification {
    color:#d45252;
    margin:5px 0 0;
    display:inline;
    float:right
}

.change_status label {
    width:150px;
    margin-top:3px;
    display:inline-block;
    float:left;
    padding:3px
}

.change_status input {
    height:20px;
    width:220px;
    padding:5px 8px
}

.change_status textarea {
    padding:8px;
    width:300px
}

.change_status button {
    margin-left:156px
}

.change_status input,.change_status textarea {
    border:#aaa solid 1px;
    box-shadow:0 0 3px #ccc,0 10px 15px #eee inset;
    border-radius:2px;
    padding-right:30px;
    transition:padding .25s
}

.change_status input:focus,.change_status textarea:focus {
    background:#fff;
    border:#555 solid 1px;
    box-shadow:0 0 3px #aaa;
    padding-right:70px
}

.form_hint {
    background:#3583BF;
    border-radius:3px 3px 3px 3px;
    color:#fff;
    margin-left:8px;
    padding:1px 6px;
    z-index:999;
    position:absolute;
    display:none
}

.form_hint::before {
    content:"\25C0";
    color:#3583BF;
    position:absolute;
    top:1px;
    left:-6px
}

.change_status input:focus + .form_hint {
    display:inline
}

button.submit {
    background-color:#68b12f;
    border:#2D73A8 solid 1px;
    border-bottom:1px solid #2D73A8;
    border-radius:3px;
    box-shadow:0 1px 0 0 #2D73A8 inset;
    color:#fff;
    font-weight:700;
    padding:6px 20px;
    text-align:center;
    text-shadow:0 -1px 0 #2D73A8
}

button.submit:hover {
    opacity:.85000002384186;
    cursor:pointer
}

button.submit:active {
    border:#2D73A8 solid 1px;
    box-shadow:0 0 10px 5px #2D73A8 inset
}
